<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">

    <app-big-card
      Id="1"
      photoCover="https://cdn.mos.cms.futurecdn.net/Hxz2swJPyfVxsKiLkZAEB6-650-80.jpg.webp"
      cardTitle="The Marvels"
      cardDescription="10 November 2023 - On the Cinemas"
      >
    </app-big-card>

  </div>
  <div class="articles__others">
    <app-small-card
      Id="2"
      cardTitle="Guardians of the Galaxy Vol. 3"
      photoCover="https://images.thedirect.com/media/article_full/guardians-of-the-galaxy-3-characters-cast-mcu-marvel.jpg"
    >
    </app-small-card>

    <app-small-card
      Id="3"
      cardTitle="Ant-Man and the Wasp QUANTUMANIA"
      photoCover="https://m.media-amazon.com/images/S/pv-target-images/ad225bdbe1f79b537253f1cca083271fff33cc06d4b8071ed92e70c73d720125.jpg"
    >
    </app-small-card
    >

    <app-small-card
      Id="4"
      cardTitle="Wakanda Forever"
      photoCover="https://s.yimg.com/ny/api/res/1.2/c6yTsg935zEChMvAt7opvQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTQyMDtoPTIzNw--/https://media.zenfs.com/en/wsb_cox_articles_232/d6d32036a0f3080d05c40fc58b6213bb"
    >
    </app-small-card>
  </div>
</div>
