<div class="container__menu-bar">
<ul>
  <li><a href="https://www.marvel.com/articles">NEWS</a></li>
  <li><a href="https://www.marvel.com/comics?&options%5Boffset%5D=0&totalcount=12">COMICS</a></li>
  <li><a href="https://www.marvel.com/characters"> CHARACTERS</a></li>
  <li><a href="https://www.marvel.com/movies"> MOVIES</a></li>
  <li><a href="https://www.marvel.com/tv-shows">TV SHOWS</a></li>
  <li><a href="https://www.marvel.com/games">GAMES</a></li>
  <li><a href="https://www.marvel.com/watch">VIDEOS</a></li>

</ul>

</div>
